.git
.venv
data
.dagster/*
!.dagster/dagster.yaml
.env
dashboard/node_modules
dashboard/build
dashboard/.evidence
dbt/target
dbt/logs
dbt/profiles.yml
**/__pycache__
.pytest_cache
.ruff_cache
tmp*
.tmp_dagster_home_*
.DS_Store
