__pycache__/
*.pyc
.venv/
data/
dist/
.pytest_cache/
.ruff_cache/
dbt/target/
dbt/logs/
*.duckdb
.env
tmp*/
.dagster/*
!.dagster/dagster.yaml
dbt/profiles.yml
dbt-notes.md
.DS_Store
dbt/.user.yml
.tmp_dagster_home_*/
.superpowers/
